name: Daily Stock Scan

on:
  schedule:
    - cron: '0 22 * * 1-5'
  
  workflow_dispatch:

  push:
    branches:
      - main
      - master

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run Scan Script
      run: |
        python main.py

    - name: Commit and Push changes
      run: |
        git config --global user.name "GitHub Action"
        git config --global user.email "action@github.com"
        git fetch origin main
        git reset --soft origin/main
        git add data.json
        git commit -m "Auto update stock data [skip ci]" || exit 0
        git push origin main
